.App {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-width: 400px;
    max-width: 400px;
    min-height: 600px;
    max-height: 600px; */
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

/* .css-1d1r5q-MuiFormHelperText-root{
    color: #4caf50 !important;
} */

.css-16awh2u-MuiAutocomplete-root .MuiInput-root .MuiInput-input {
    padding: 4p, 4px, 4px, 40px;
    margin-left: 44px;
    color: #ffffff;
}

.MuiAutocomplete-clearIndicator {
    color: #ffffff !important;
}