.App {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    max-width: 500px;
    min-height: 800px;
    max-height: 900px;
}

* {
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.MuiListItemText {
    margin-left: -100px;
}

.MuiListItemIcon {
    margin-right: -100px;
}

.MuiAutocomplete-clearIndicator {
    color: #ffffff !important;
}

.swal2-container {
    z-index: 20000 !important;
}

.swal2-popup {
    font-size: 0.9rem !important;
    font-family: 'Roboto';
}